/* Estilos para animação */
[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    padding: 5%;
}

header h1 {
    margin: 0;
    color: #CC092F;
    text-align: center;
    text-shadow: rgb(30, 68, 96) 1px 1px 2px;
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    transition: all 0.5s;
}

nav ul li:hover {
    font-size: 120%;
}

nav ul li a {
    color: #CC092F;
    text-decoration: none;
    text-shadow: rgb(51, 16, 16) 1px 1px 2px;
    transition: all 0.2s;
}

nav ul li a:hover {
    color: #da7a0b;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;  
}

footer p {
    margin-left: 10px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

footer h4 {
    text-align: center;
}

.logo {
    max-height: 70%;
    max-width: 70%;
    height: auto;
    width: auto;
    margin-left: 8%;
    transition: all 1.2s;
}

.logo:hover {
    max-height: 80%;
    max-width: 80%;
}

.inicio-texto {
    flex: 1;
}

.hidden {
    display: none;
}

#participantes {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.participante {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.participante img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.participante h3 {
    margin: 10px 0;
}

.participante p {
    font-size: 0.9em;
    color: #555;
}
.carousel-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 1s ease;
}

.carousel img {
    width: 100%;
    display: none;
}

.carousel img.active {
    display: block;
}
